# MongoDB Database Connection
MONGODB_URI=mongodb+srv://admin:YOUR_PASSWORD@cluster0.xxxx.mongodb.net/gps_dmc_db?retryWrites=true&w=majority

# For Local Development (Testing Only)
# MONGODB_URI=mongodb://localhost:27017/gps_dmc_db
